.sfondo{
    background-color: blueviolet !important;
    color: white !important;
}

#head{
    width: 100%;
    height: 200px;
    background-color: rgb(181, 136, 223);
    color: white;
}

#sfondoParagrafo{
    background-color: rgb(255, 255, 143);
}

#linea{
    width: 100%;
    height: 3px;
    background-color: white;
}